<!DOCTYPE html>
<html>
  <head>
    <title>Pacebook</title>
    <meta property="og:title" content="Pacebook">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://pacebook-app.herokuapp.com">
    <meta property="og:image" content="https://pacebook-seed.s3.amazonaws.com/image/pacebook2.png">
    <meta property="og:description"
        content="A pixel perfect Facebook clone website">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript">
      window.no_image = "<%= image_url('https://pacebook-seed.s3.amazonaws.com/image/no_image.jpeg') %>"
      window.love = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/love.gif") %>"
      window.like = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/like.gif") %>"
      window.haha = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/haha.gif") %>"
      window.sad = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/sad2.gif") %>"
      window.wow = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/wow2.gif") %>"
      window.angry = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/angry.gif") %>"
      window.loveSVG = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/love.svg") %>"
      window.likeSVG = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/like.svg") %>"
      window.hahaSVG = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/haha.svg") %>"
      window.sadSVG = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/sad.svg") %>"
      window.wowSVG = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/wow.svg") %>"
      window.angrySVG = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/angry.svg") %>"
      window.likeIcon = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/pacebook_icon_like3.png") %>"
      window.likedIcon = "<%= image_url("https://pacebook-seed.s3.amazonaws.com/image/pacebook_icon_liked3.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
