<!DOCTYPE html>
<html>
  <head>
    <title>Pacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1a958c97f9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
    <script type="text/javascript">
      window.koba = "<%= image_url("koba.jpg") %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
