<!DOCTYPE html>
<html>
  <head>
    <title>Pacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/1a958c97f9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript">
      window.no_image = "<%= image_url('no_image.jpeg') %>";
      window.logo = "<%= image_url('logo.png') %>"
      window.love = "<%= image_url("love.gif") %>"
      window.like = "<%= image_url("like.gif") %>"
      window.haha = "<%= image_url("haha.gif") %>"
      window.sad = "<%= image_url("sad.gif") %>"
      window.wow = "<%= image_url("wow.gif") %>"
      window.angry = "<%= image_url("angry.gif") %>"
      window.loveSVG = "<%= image_url("love.svg") %>"
      window.likeSVG = "<%= image_url("like.svg") %>"
      window.hahaSVG = "<%= image_url("haha.svg") %>"
      window.sadSVG = "<%= image_url("sad.svg") %>"
      window.wowSVG = "<%= image_url("wow.svg") %>"
      window.angrySVG = "<%= image_url("angry.svg") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
